Alura.Filmes/.vs/Alura.Filmes/FileContentIndex/9b560e93-285f-4bba-bdbc-dfbf908c6adc.vsidx
Alura.Filmes/.vs/Alura.Filmes/FileContentIndex/83067d53-14d6-425c-b986-23c03c6f4d7d.vsidx
Alura.Filmes/.vs/Alura.Filmes/FileContentIndex/ae3df6bc-0aa4-4ce9-9168-cf0736b61e01.vsidx
Alura.Filmes/.vs/Alura.Filmes/FileContentIndex/b8e9cea7-db2d-4eb6-a417-cbca386099d4.vsidx
Alura.Filmes/.vs/Alura.Filmes/v17/.suo
Alura.Filmes/.vs/Alura.Filmes/FileContentIndex/4269a457-7d95-4fc3-8d9b-748fd46bcefb.vsidx
Alura.Filmes/.vs/Alura.Filmes/FileContentIndex/4625d7a4-8460-44a2-89ca-1b4055c898b5.vsidx
Alura.Filmes/.vs/Alura.Filmes/FileContentIndex/7a0daffe-30aa-411a-b1aa-69793b5f3433.vsidx
Alura.Filmes/.vs/Alura.Filmes/FileContentIndex/d5269eb6-946b-46ed-a58f-1f486eeca311.vsidx
Alura.Filmes/.vs/Alura.Filmes/FileContentIndex/f7851d8e-4d0c-442b-ac11-2e32dfe7d55b.vsidx
Alura.Filmes/.vs/Alura.Filmes/FileContentIndex/98e8a93c-4657-41c0-b0bf-3dc798a73cf4.vsidx
Alura.Filmes/.vs/Alura.Filmes/FileContentIndex/a8d72136-f116-438e-b51f-921d734ec42a.vsidx
Alura.Filmes/.vs/Alura.Filmes/FileContentIndex/cd25589d-43e2-4355-ac33-8d1b52cde402.vsidx
Alura.Filmes/.vs/Alura.Filmes/FileContentIndex/7becb7bc-7325-4682-b44d-33363ac1422f.vsidx
Alura.Filmes/.vs/Alura.Filmes/FileContentIndex/c62812cf-1e0a-491f-8056-6b7ffe4fb7db.vsidx
Alura.Filmes/.vs/Alura.Filmes/copilot-chat/4b6ee494/V0_86c6199a-d7b9-44c1-9ff6-3a759933b0a1_Default
Alura.Filmes/.vs/Alura.Filmes/FileContentIndex/0948004f-1b9c-4d3a-821f-aedb7605d977.vsidx
Alura.Filmes/.vs/Alura.Filmes/FileContentIndex/3b98c2e8-12b8-41bf-b306-10bfe4b745ba.vsidx
Alura.Filmes/.vs/Alura.Filmes/FileContentIndex/ca23e2b4-0fa5-4ca7-b37e-dc1a6e209414.vsidx
Alura.Filmes/.vs/Alura.Filmes/FileContentIndex/dc81bf59-8a8b-46da-8258-b578903b52c5.vsidx
Alura.Filmes/.vs/Alura.Filmes/FileContentIndex/218c5be9-212e-43fe-a738-9e6f9fc73850.vsidx
Alura.Filmes/.vs/Alura.Filmes/FileContentIndex/245a19bf-2bac-4d1e-848a-12a3ae47fe7e.vsidx
Alura.Filmes/.vs/Alura.Filmes/FileContentIndex/9aa61a82-c646-43fb-8c39-a43b94411b23.vsidx
Alura.Filmes/.vs/Alura.Filmes/FileContentIndex/9cff9e59-f370-4751-9479-e313007caf97.vsidx
Alura.Filmes/.vs/Alura.Filmes/FileContentIndex/a21e0f3c-6253-48cb-b9b9-df2b7867ca18.vsidx
Alura.Filmes/.vs/Alura.Filmes/FileContentIndex/c3559a21-a479-4585-9b5f-d00b17317098.vsidx
Alura.Filmes/.vs/Alura.Filmes/FileContentIndex/bb0c4dda-339a-42df-9fd3-f24bb4bfe6ef.vsidx
Alura.Filmes/.vs/Alura.Filmes/FileContentIndex/c268a31d-a46a-47b0-aaa1-1c657e7c44c0.vsidx
Alura.Filmes/.vs/Alura.Filmes/FileContentIndex/a63d25b8-aa3d-4f28-9be2-8db7262fa759.vsidx
Alura.Filmes/.vs/Alura.Filmes/FileContentIndex/138cdd48-4491-45f1-a05b-3bd3ec6dce49.vsidx
Alura.Filmes/.vs/Alura.Filmes/FileContentIndex/e11b9a85-db14-4f86-8625-91b016f23269.vsidx
Alura.Filmes/.vs/Alura.Filmes/FileContentIndex/fcd71c5c-6487-475f-84ab-b3d15f779915.vsidx
